<h3>Update a carriage</h3>
<p>
  <a mat-button routerLink="/carriages">
    <b>Back to carriages</b>
  </a>
</p>
<form [formGroup]="carriageForm" (ngSubmit)="onSubmit(carriageForm.getRawValue())">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Year of manufacture</mat-label>
      <input matInput placeholder="E.g: 2005" formControlName="manufacturedYear">
      <mat-hint>Give the year of manufacture</mat-hint>
      <mat-error *ngIf="manufacturedYear.invalid">{{getManufacturedYearErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Rail identifier</mat-label>
      <input matInput placeholder="505520-05555-7" formControlName="railId">
      <mat-hint>Provide the rail identifier</mat-hint>
      <mat-error *ngIf="railId.invalid">{{getRailIdErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Owner of carriage</mat-label>
      <input matInput placeholder="e.g.: MAV" formControlName="owner">
      <mat-hint>Give the owner of the carriage</mat-hint>
      <mat-error *ngIf="owner.invalid">{{getOwnerErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Home location of carriage</mat-label>
      <input matInput type="number" placeholder="e.g.: Budapest" formControlName="siteId">
      <mat-hint>Add the site of the carriage</mat-hint>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type>Update</button>
  </form>

