<div style="margin-bottom: 10px" *ngFor="let carriage of carriages$ | async">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <i class="material-icons">event</i>
      </div>
      <mat-card-title>
      </mat-card-title>
      <mat-card-subtitle appHighlight>{{carriage.railId}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{carriage.site}}
    </mat-card-content>
    <mat-card-actions>
      <button title="Delete event" mat-raised-button color="warn">
        <i class="material-icons">remove_circle</i>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
