<div style="margin-bottom: 10px">
  <a mat-mini-fab routerLink="/carriages/create" color="primary">
    <mat-icon>add</mat-icon>
  </a>

  <mat-slide-toggle (change)="toggleDeletedCarriages($event)"
    class="example-margin"
    [color]="color"
    [checked]="checked"
    [disabled]="disabled">
    Show deleted!
  </mat-slide-toggle>

  <button *ngIf="filteredOnSite" (click)="showAllCarriages()">Show all!</button>

</div>

<table mat-table [dataSource]="carriages$" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Carriage ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>


  <ng-container matColumnDef="railId">
    <th mat-header-cell *matHeaderCellDef> Rail ID </th>
    <td mat-cell *matCellDef="let element"> {{element.railId | removeWhiteSpace}} </td>
  </ng-container>

  <ng-container matColumnDef="siteName">
    <th mat-header-cell *matHeaderCellDef> Site Name </th>
    <td mat-cell *matCellDef="let element"><label [ngStyle]="{'cursor': 'pointer'}" (click)=filterOnSite(element.siteId)> {{element.siteName}} </label> </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="!element.deleted">
      <mat-icon aria-hidden="false" [routerLink]="['/carriages/edit', element.id]" aria-label="Edit">edit</mat-icon>
      <mat-icon aria-hidden="false" (click)="onDelete(element)" aria-label="Delete">delete</mat-icon>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'background-color': row.deleted? 'red':'white'}"></tr>
</table>


